<% provide(:title, "Acessando conta") %>
<h1>Acesse sua conta</h1>

  <%= form_for(:session, url: login_path) do |f| %>

    <div style ="width: 30%;">
      <div class="container" >
        <%= f.label "E-mail:", { class: "formStuff" } %><br>
        <%= f.email_field :email %>
      </div>
      <div class="container" >
        <%= f.label "Senha", { class: "formStuff" } %><br><br>
        <%= f.password_field :password %>
      </div>
    </div>
  
  <br>
  <%= f.submit "Acessar", { :class=>"btn waves-effect waves-light orange" } %>
<% end %>


 