<% provide(:title, "Acessando conta") %>

<div style=" border: solid white; background-color: rgba(255,165,0,0.8); width: 30%; height: 100%; ">

<h1>Acesse sua conta</h1>

  <%= form_for(:session, url: login_path) do |f| %>

    <div style ="width: 80%;">
      <div class="container" >
        <%= f.label "E-mail:", { class: "formStuff" } %><br>
        <%= f.email_field :email %>
      </div>
      <div class="container" >
        <%= f.label "Senha", { class: "formStuff" } %><br><br>
        <%= f.password_field :password %>
      </div>
    </div>
  
  <br>
  <%= f.submit "Acessar", { :class=>"btn waves-effect waves-light orange" } %>
<% end %>
<br>
</div>

 