<%= form_for(@user) do |f| %>

  <div class="row">
    <div class="container" >
      <%= f.label "Usuário:", { class: "formStuff" } %><br>
      <%= f.text_field :name %>
    </div>
    <div class="container" >
      <%= f.label "E-mail:", { class: "formStuff" } %><br><br>
      <%= f.email_field :email %>
    </div>
    <div class="container" >
      <%= f.label "Senha:", { class: "formStuff" } %><br><br>
      <%= f.password_field :password %>
    </div>
    <div class="container" >
      <%= f.label "Confirmação da senha:", { class: "formStuff" } %><br><br>
      <%= f.password_field :password_confirmation %>
    </div><br>
    <div class="actions">
      <%= f.submit "Pronto", { :class=>"btn waves-effect waves-light orange" } %>
    </div>
  </div>   


<% end %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "erro") %> . Esta conta não pôde ser criada:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>