<%= form_for(@user) do |f| %>
  
  <div class="field">
    <%= f.label "Usuário" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Senha" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirmação da senha" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Pronto" %>
  </div>

<% end %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "erro") %> . Esta conta não pôde ser criada:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>