<% provide(:title, @user.name) %>
    <h2>
	  <%= gravatar_for @user %>
    <%= @user.name %></h2><br>
    <h1>Projetos:</h1>
    <div class="projects">
  	  <% @posts.each do |post| %>
        <div class="project">
          <p>
          <div class="postIndexTitle">
            <%= link_to post.name, post %>
          </div><br>
          </p>
          <span class="postIndexDesc"><%= post.description %></span> <br>
          <div style="position: absolute; top:90%; left: 34%"> 
            <%= link_to 'Editar', edit_post_path(post), {style: "color: white"} %> &nbsp;
            <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Está certo disso?' } %>
          </div>
        </div>
      <% end %>
      <br>
    </div>
    <br>
<%= link_to "Poste um novo projeto!", new_post_path , { :class=>"btn waves-effect waves-light orange" }%>
	  