<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> Esse post não pode ser salvo:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "descrição" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Detalhes" %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit "Pronto" %>
  </div>
<% end %>
