<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> Esse post não pode ser salvo:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div style="width: 70%">
    <div class="container" >
      <%= f.label "nome", { class: "formStuff" } %><br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="container" >
      <%= f.label "descrição", { class: "formStuff" } %><br><br>
      <%= f.text_area :description %>
    </div>
    <br>
    <div class="container" >
      <%= f.label "Detalhes", { class: "formStuff" } %><br><br>
      <%= f.text_area :details %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Pronto", { :class=>"btn waves-effect waves-light orange" } %>
    </div>
  </div>        
<% end %>
