<% provide(:title, "Listando") %>

<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<% @posts.each do |post| %>
  <div style="margin: 1em; border: 1px solid white; float: left; width: 300px; height: 300px; position: relative;">
    <h2><%= link_to post.name, post, {style: "color: white"} %></h2>
    <%= post.description %> <br>
    <% if post.user == current_user %>
    <div style="position: relative; top: 200px;">
      <%= link_to 'Editar', edit_post_path(post), {style: "color: white"} %>
      <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Está certo disso?' } %>
    </div>
   	<% end %>
  </div>
<% end %>
<% if logged_in? %>
<div style ="clear: both;">
  <%= link_to 'Novo Projeto', new_post_path, {style: "color: white"} %>
</div>
<% end %>