<% provide(:title, "Listando") %>

<p id="notice"><%= notice %></p>

<div style=" top: 140px; right: 60px; position: absolute;">
  
  <%= form_tag "/posts/search" do %>
  Pesquisa:
  <%= text_field_tag :name %>
  <%= submit_tag "Procurar" %>
<% end %>
</div>
<br>
<h1>Projetos</h1>
<div class="projects">
<% @posts.each do |post| %>
  <div class="project">
    <p>
    <div class="postIndexTitle">
      <%= link_to post.name, post %>
    </div><br>
    </p>
    <span class="postIndexDesc"><%= post.description %></span> <br>
    <% if post.user == current_user %>
      <div style="position: absolute; top:90%; left: 34%"> 
        <%= link_to 'Editar', edit_post_path(post), {style: "color: white"} %>
        <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Está certo disso?' } %>
      </div>
   	<% end %>
  </div>
<% end %>
</div>
<% if logged_in? %>
  <div style ="clear: both;">
    <%= link_to 'Novo Projeto', new_post_path, {style: "color: white"} %>
  </div>
<% end %>