<% provide(:title, @post.name) %>
<p id="notice"><%= notice %></p> 
<p>
  <strong>Nome:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @post.description %>
</p>
<p>
  <strong>Detalhes:</strong>
  <%= @post.detail %>
</p>
<%= link_to 'Editar', edit_post_path(@post), {style: "color: white"} %> |
<%= link_to 'Voltar', posts_path, {style: "color: white"} %>