<% provide(:title, @post.name) %>

<div style="position: relative; margin-top: 50px; border: 2px solid white; width: 70%; background-color: rgba(255,165,0,0.8); clear: both;">
	<div style=" left: 50px;">
		<p>
		<h2><%= @post.name %></h5>
		</p>

	</div >
	<br>
	<div class="postShowDesc">
		<%= @post.description %>
	</div>
	<br>
	<div class="postShowDetail">
		<% if @post.details.present? %>
			<%= @post.details.html_safe %>
		<% end %>
	</div>
	<br>
</div>
<br>
<div id="links" style="position: relative; clear: both; ">
	<% if @post.user == current_user %>
		<%= link_to 'Editar', edit_post_path(@post) %>&nbsp;
	<% end %>		
	<%= link_to 'Voltar', posts_path %> 
</div>

