<% provide(:title, @post.name) %>

<div style="position: relative; margin-top: 50px; border: 2px solid black; width: 70%; clear: both;">
	<div style=" left: 50px;">
		<p>
		<h2><%= @post.name %></h5>
		</p>

	</div >
	<br>
	<div class="postShowDesc">
		<%= @post.description %>
	</div>
	<br>
	<div class="postShowDetail">
		<%= @post.details %>
	</div>
	<br>
</div>
<br>
<div id="links" style="position: relative; clear: both; ">
	<% if @post.user == current_user %>
		<%= link_to 'Editar', edit_post_path(@post) %>
	<% end %>		
	<%= link_to 'Voltar', posts_path %> 
</div>

