<% provide(:title, @post.name) %>

<div style="position: relative; margin-top: 5%; border: 2px solid white; width: 70%; background-color: rgba(255,165,0,0.8); clear: both;">
	<div style=" left: 5%;">
		<p>
		<h2 class="textProjetos"><%= @post.name %></h5>
		</p>

	</div >
	<br>
	<div class="postShowDesc">
		<%= @post.description %>
	</div>
	<br>
	<div class="postShowDetail">
		<% if @post.details.present? %>
			<%= @post.details.html_safe %>
		<% end %>
	</div>
	<br>
</div>
<br>
<div id="links" style="position: relative; clear: both; ">
	<% if @post.user == current_user %>
		<%= link_to 'Editar', edit_post_path(@post) %>&nbsp;
	<% end %>		
	<%= link_to 'Voltar', posts_path %> 
</div>
<div>
	<h4 style="color: white;"> Comentários: </h4>
		<div class="postComments" >
			<% if @post.comments.count == 0 %>
				<h5 style="border: solid white 2px;"> Nenhum comentário...</h5>
			<% else %>
				<% @post.comments.each do |comment| %>
				<div class="postComment" >
					<br>
					<div>
						<div>
							<b style=" margin-left: 5%;"><%= comment.user.name %>:</b>
							<% if logged_in? %>
								<% if comment.user_id == current_user.id %>
									<%= link_to 'Deletar', comment, method: :delete, data: { confirm: 'Está certo disso?' }%>
								<% end %>
							<% end %>
						</div>
						<div class="comment">
							<%= comment.comment %> 
						</div>
						<br>
					</div>
				</div>	
			<% end %>
	 	<% end %>
	 </div>
	 <% if logged_in? %> 
	 <div class="commentLabel">
		<%= form_for ([@post, @post.comments.build]) do |f| %>
        	<%= f.text_area :comment %>
    		<%= f.submit "Comentar" %>
		<% end %>
	</div>
	<% end %>
</div>
<br>

