<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Projetos </title>

   <STYLE type="text/css">
  	BODY {text-align: center}
  </STYLE>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body background="/assets/fundo.jpg" >
<div style ="border: 2px solid white; background-color: gray; position: relative; height: 100px;">
	<img src="/assets/atomo.png" align="middle" width="100px" height="100px">&nbsp;&nbsp;
	<img src="/assets/projetop.png" align="middle" width="250px" height="70px">
	<% if logged_in? %>
	<div style=" position: absolute; top: 75px; right: 20px; ">
			<font size= "3.5">
				
				<%= link_to "Início", root_path, {style: "color: white"}%>&nbsp;&nbsp;
				<%= link_to "Conta", current_user, {style: "color: white"}%>&nbsp;&nbsp;
				<%= link_to "Desconectar", logout_path, method: :delete  %>
			</font>
		</div>
	<% else %>
		<div style=" position: absolute; top: 75px; right: 20px;">
			<font size= "3.5">
				<%= link_to "Início", root_path, {style: "color: white"}%>&nbsp;&nbsp;
				<%= link_to "Acessar conta", login_path, {style: "color: white"}%>&nbsp;&nbsp;
				<%= link_to "Cadastre-se", new_user_path, {style: "color: white"}%>
			</font>
		</div>
	<% end %>
</div>
<center>
<font color = "white" font size= "3.5"><%= yield %></font></center>

</body>
</html>


